main {}
main .product_wrap {width:100%;}
main .product_wrap .container {max-width:1100px; margin:0 auto;}
main .product_wrap .product_container {
    margin-top:180px; margin-bottom:100px; display:flex;
}
main .product_wrap .container .photo {margin-right:40px;}
main .product_wrap .container .photo .big {margin-bottom:20px; width:550px;}
main .product_wrap .container .photo .big img {width:100%;}
main .product_wrap .container .photo .thumbnail {display:flex; justify-content:space-between;}
main .product_wrap .container .photo .thumbnail a {display:block; width:75px; overflow:hidden;}
main .product_wrap .container .photo .thumbnail a img {width:100%; transition:transform 0.4s;}
main .product_wrap .container .photo .thumbnail a img:hover {transform:scale(1.1);}
main .product_wrap .container .photo .thumbnail .active {}
main .product_wrap .container .photo .thumbnail .active img {}
main .product_wrap .container .product_contents {}
main .product_wrap .container .product_contents .cord_share {margin-bottom:25px; display:flex; justify-content:space-between; align-items:center;}
main .product_wrap .container .product_contents .cord_share .cord {font-size:0.93rem; letter-spacing:-0.02em; color:#555;}
main .product_wrap .container .product_contents .cord_share .share {cursor:pointer;}
main .product_wrap .container .product_contents .cord_share .share img {}
main .product_wrap .container .product_contents > h1 {font-size:1.5rem; font-weight:600; letter-spacing:-0.02em;}
main .product_wrap .container .product_contents > h2 {font-size:1.125rem; letter-spacing:-0.02em; margin:12px 0 25px;}
main .product_wrap .container .product_contents .price {font-size:1.25rem; letter-spacing:-0.02em; margin-bottom:30px;}
main .product_wrap .container .product_contents .descrip {height:70px; color:#555; font-size:0.93rem; line-height:1.5; letter-spacing:-0.02em;}
main .product_wrap .container .product_contents .info {display:flex; flex-flow:row wrap; justify-content:space-between; margin-bottom:30px;}
main .product_wrap .container .product_contents .info dd:nth-of-type(2),
main .product_wrap .container .product_contents .info dt:nth-of-type(2) {margin:18px 0;}
main .product_wrap .container .product_contents .info dd:nth-of-type(3) {position:relative; top:-5px;}
main .product_wrap .container .product_contents .info dt {width:70px;}
main .product_wrap .container .product_contents .info dd {width:calc(100% - 70px);}
main .product_wrap .container .product_contents .info dd .schedule {cursor:pointer; position:relative; top:3px;  margin-left:2px;}
main .product_wrap .container .product_contents .info dd .schedule_open {
    width:max-content; position:absolute; top:27px; left:0px;
    background:#fff;
    color:#555; font-size:0.93rem; line-height:1.5; letter-spacing:-0.02em;
    padding:10px; border:1px solid #aaa; border-radius:5px;
}
main .product_wrap .container .product_contents .info dd .hide {display:none;} /* 접었다 펼치기 */
main .product_wrap .container .product_contents .order_contents {}
main .product_wrap .container .product_contents .order_contents .select_contents {}
main .product_wrap .container .product_contents .order_contents .select_contents #capacity {
    cursor:pointer;
    font-size:0.93rem; letter-spacing:-0.02em;
    width:100%; padding:10px 12px; border:1px solid #232323; border-radius:3px;
    background-image:url(../images/arrow_down.png);
    background-repeat:no-repeat;
    background-position:98% center;
}
main .product_wrap .container .product_contents .order_contents .select_contents #capacity option {font-size:0.93rem; letter-spacing:-0.02em;}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container {}
/* ================================================================================================================= 옵션 공통 선택자 */
main .product_wrap .container .product_contents .order_contents .select_contents .op_container
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] p {
    font-size:0.93rem; letter-spacing:-0.02em; float:left; position:relative; top:3px;
}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] {float:right; display:flex;}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] p[class^=op_total] {color:#555; position:relative; top:3px;}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] .num_box {
    border-radius:5px; overflow:hidden; border:1px solid #ccc; margin:0 10px;
}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] .num_box input {
    order:0; border:1px solid #ccc; border-top:0; border-bottom:0; width:40px; text-align:center;
}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] .num_box button{}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] .num_box button img {position:relative; top:2px; left:-3px;}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] .num_box button[class^=minus] {order:-1;}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] .num_box button[class^=minus] img {left:3px;}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] .num_box .button[class^=plus] {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] div[class=opnum] .num_box .button[class^=plus] img {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] .close {cursor:pointer;}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container div[class$=ml] .close img {position:relative; top:-1px;}
/* ================================================================================================================ */
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml {background:#f5f5f5; padding:10px 12px; border-radius:5px; margin-top:15px; overflow:hidden; }
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml p {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum .op_total {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum .num_box {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum .num_box #op50ml_num {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum .num_box button {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum .num_box button img {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum .num_box .minus {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum .num_box .plus {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum .close {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op50ml .opnum .close img {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml {background:#f5f5f5; padding:10px 12px; border-radius:5px; margin-top:15px; overflow:hidden; }
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml p {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum .op_total {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum .num_box{}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum .num_box #op100ml_num {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum .num_box button {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum .num_box button img {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum .num_box .minus {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum .num_box .plus {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum .close {}
main .product_wrap .container .product_contents .order_contents .select_contents .op_container .op100ml .opnum .close img {}
main .product_wrap .container .product_contents .order_contents .select_contents .order_price {
    margin-top:33px; padding-bottom:15px; overflow:hidden;
    border-bottom:1px solid #ccc;
}
main .product_wrap .container .product_contents .order_contents .select_contents .order_price p {font-size:1.125rem; font-weight:500; letter-spacing:-0.02em; float:left;}
main .product_wrap .container .product_contents .order_contents .select_contents .order_price p:nth-child(2) {float:right;}
main .product_wrap .container .product_contents .order_contents .select_contents .order_price p .total_price {margin-left:4px; font-size:1.5rem; font-weight:600; letter-spacing:-0.02em;}
main .product_wrap .container .product_contents .order_contents .select_contents .order_btn {margin-top:20px; display:flex; justify-content:space-between;}
main .product_wrap .container .product_contents .order_contents .select_contents .order_btn button {
    width:calc(100% - 20px); padding:18px;
    font-size:1.125rem; font-weight:600; letter-spacing:-0.02em;
    border:1px solid #b97e21; border-radius:5px;
}
main .product_wrap .container .product_contents .order_contents .select_contents .order_btn #cart_btn {margin-right:15px;}
main .product_wrap .container .product_contents .order_contents .select_contents .order_btn #buy_btn {background:#b97e21; color:#fff;}
main .cart_open_bg {display:none;
    width:100%; height:100vh; background-color:rgba(0,0,0,0.3);
    position:fixed; top:0; left:0; z-index:999;
}
main .cart_open_bg .cart_container {
    width:700px; margin:200px auto 0; 
    background-color:#fff; border-radius:10px;
    padding:50px 0; text-align:center;}
main .cart_open_bg .cart_container p {font-size:1.15rem; font-weight:400;}
main .cart_open_bg .cart_container .link {margin-top:20px;}
main .cart_open_bg .cart_container .link a {
    padding:15px 25px; border-radius:5px; border:1px solid #b97e21;
    display:inline-block; 
}
main .cart_open_bg .cart_container .link a:nth-child(1) {margin-right:10px;}
main .cart_open_bg .cart_container .link a:nth-child(2) {background:#b97e21; color:#fff;}
/* =========================================================================================================================================*/
/* 공용선택자 */
main .page_wrap div[class$=container] {margin:0 auto;}
main .page_wrap .page_title {
    padding-bottom:10px; border-bottom:1px solid #232323; margin-bottom:25px;
    display:flex; justify-content:space-between;
}
main .page_wrap .page_title .title_main {font-size:1.125rem; font-weight:500; letter-spacing:-0.02em;}
main .page_wrap .page_title .title_main em {font-size:1rem;}
main .page_wrap .page_title .entire {}
main .page_wrap .page_title .entire a {font-size:0.93rem; letter-spacing:-0.02em;}
main .page_wrap .page_title .entire a img {position:relative; top:4px;}
main .page_wrap .page_title .sequence {}
main .page_wrap .page_title .sequence li {}
main .page_wrap .page_title .sequence li a {}
main .pagenation {width:100%; text-align:center;} /* 페이지 버튼 태그 */
main .pagenation .pagenation_box {} 
main .pagenation .pagenation_box button {position:relative; top:3px;}
main .pagenation .pagenation_box button img {}
main .pagenation .pagenation_box .page_first {}
main .pagenation .pagenation_box .page_prev {}
main .pagenation .pagenation_box .page_next {}
main .pagenation .pagenation_box .page_last {}
main .pagenation .pagenation_box a {
    font-size:0.93rem; letter-spacing:-0.02em;
    display:inline-block; width:25px; height:25px; color:#ccc;
}
main .pagenation .active {color:#232323;}
/* ========공용선택자 end */
main .page_tap {margin-bottom:80px; border-bottom:1px solid #ccc;}/* 상품페이지 탭바 */
main .page_tap .page_tapbar {max-width:1400px; margin:0 auto; display:flex; position:relative;}
main .page_tap .page_tapbar li {
    width:calc(100% / 4); text-align:center;
}
main .page_tap .page_tapbar .active::after {
    content:"";
    display:block;
    position:relative;
    bottom: -1px; /* ul의 하단선과 정확히 겹치게 */
    left:0;
    width:100%;
    height:1px; 
    background-color:#232323;
}
main .page_tap .page_tapbar li a {
    display:block; width:100%; padding:17px;
    font-size:1.125rem; font-weight:500; letter-spacing:-0.02em;
}
main .page_tap .page_tapbar .page_img {}
main .page_tap .page_tapbar .page_review {}
main .page_tap .page_tapbar .page_buy {}
main .page_tap .page_tapbar .page_qna {}
/* =========================================================================================================================================*/
main .page_wrap {}/* 전체너비 */
main .page_wrap .img_container {max-width:1400px;}/* 탭별 컨텐츠너비 */
main .page_wrap .img_container .img_page {margin-bottom:200px;}
main .page_wrap .img_container .img_page .ad_bnr {
    height:124px;
    background-image:url(../images/ad_bnr.png);
    background-position:center;
    background-size:cover;
}
main .page_wrap .img_container .img_page .ad_bnr a {display:flex; align-items:center; height:100%;}
main .page_wrap .img_container .img_page .ad_bnr a p {font-size:1.25rem; letter-spacing:-0.02em;}
main .page_wrap .img_container .img_page .ad_bnr a p span {font-size:1.5rem; font-weight:600;}
main .page_wrap .img_container .img_page .ad_bnr a p img {}
main .page_wrap .img_container .img_page .img_wrap {max-width:1100px; width:1100px; margin:0 auto;}
main .page_wrap .img_container .img_page .img_wrap img {width:100%;}
/* ==================================================리뷰페이지 */
main .page_wrap .review_container {max-width:1100px;}
main .page_wrap .review_container .score_box {margin-bottom:70px;}
main .page_wrap .review_container .score_box .page_title {}
main .page_wrap .review_container .score_box .page_title .title_main {}
main .page_wrap .review_container .score_box .page_title .title_main em {}
main .page_wrap .review_container .score_box .score {display:flex; padding-bottom:30px; border-bottom:1px solid #ccc;}
main .page_wrap .review_container .score_box .score .score_left {border-right:1px solid #ccc; text-align:center; width:350px; padding:10px;}
main .page_wrap .review_container .score_box .score .score_left .score_top {font-size:1.75rem; font-weight:600; letter-spacing:-0.02em;}
main .page_wrap .review_container .score_box .score .score_left .score_top img {position:relative; bottom:-3px;}
main .page_wrap .review_container .score_box .score .score_left .score_txt {
    margin:30px 0;
    letter-spacing:-0.02em;
}
main .page_wrap .review_container .score_box .score .score_left .posting_btn {
    display:inline-block; width:270px; border-radius:5px; background-color:#232323;
    color:#fff; padding:12px 0;
}
main .page_wrap .review_container .score_box .score .score_right {width:calc(100% - 350px); padding:0 50px; display:flex; flex-flow:column wrap; justify-content:center;}
main .page_wrap .review_container .score_box .score .score_right li {/* score1~5 공용선택자 */
    display:flex; align-items:center; justify-content:space-between; margin-bottom:7px;
}
main .page_wrap .review_container .score_box .score .score_right li > * {font-size:0.875rem; line-height:1.3; letter-spacing:-0.02em;}
main .page_wrap .review_container .score_box .score .score_right li .impression {width:70px;} 
main .page_wrap .review_container .score_box .score .score_right li .scorebar_bg {
    background-color:#f2ece3; border-radius:30px; width:500px; height:10px; margin:0 15px 0;
} 
main .page_wrap .review_container .score_box .score .score_right li .scorebar_bg .scorebar_object {
    background-color:#b97e21; border-radius:30px; width:0%; height:100%;
} 
main .page_wrap .review_container .score_box .score .score_right .score5 .scorebar_bg .scorebar_object {width:calc((100% / 10) * 8);}
main .page_wrap .review_container .score_box .score .score_right .score4 .scorebar_bg .scorebar_object {width:calc((100% / 10) * 6);}
main .page_wrap .review_container .score_box .score .score_right li .score_num {width:20px;} 
main .page_wrap .review_container .photo_video_box {margin-bottom:70px;} 
main .page_wrap .review_container .photo_video_box .page_title {} 
main .page_wrap .review_container .photo_video_box .page_title .title_main {} 
main .page_wrap .review_container .photo_video_box .page_title .title_main em {} 
main .page_wrap .review_container .photo_video_box .page_title .entire {} 
main .page_wrap .review_container .photo_video_box .page_title .entire img {} 
main .page_wrap .review_container .photo_video_box .photo_video_preview {display:flex; justify-content:space-between;} 
main .page_wrap .review_container .photo_video_box .photo_video_preview li {width:calc((100% - (20px * 7)) / 8);} 
main .page_wrap .review_container .photo_video_box .photo_video_preview li a {} 
main .page_wrap .review_container .photo_video_box .photo_video_preview li a img {width:100%;} 
main .page_wrap .review_container .entire_review_box {} 
main .page_wrap .review_container .entire_review_box .page_title {} 
main .page_wrap .review_container .entire_review_box .page_title .title_main {} 
main .page_wrap .review_container .entire_review_box .page_title .title_main em {} 
main .page_wrap .review_container .entire_review_box .page_title .sequence {display:flex;} 
main .page_wrap .review_container .entire_review_box .page_title .sequence li {margin-right:10px;} 
main .page_wrap .review_container .entire_review_box .page_title .sequence li:last-child {margin-right:0;} 
main .page_wrap .review_container .entire_review_box .page_title .sequence li a {} 
main .page_wrap .review_container .entire_review_box .content {margin-bottom:50px;} 
main .page_wrap .review_container .entire_review_box .content > li {padding:50px 15px; display:flex; border-bottom:1px solid #555;} /* content1~5 공통선택자 */ 
main .page_wrap .review_container .entire_review_box .content > li .user_telling {width:720px; border-right:1px solid #ccc;}
main .page_wrap .review_container .entire_review_box .content > li .user_telling * {letter-spacing:-0.02em;}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .user_name_score {display:flex;}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .user_name_score .nickname {font-weight:500;}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .user_name_score .user_score {margin-left:15px; position:relative; top:-3px; font-size:0.93rem;}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .user_name_score .user_score img {position:relative; top:1px;}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .product_option {margin:17px 0; color:#555;}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .product_option,
main .page_wrap .review_container .entire_review_box .content > li .user_telling .product_review_txt {font-size:0.875rem; line-height:1.3;}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .user_review_photo {
    display:flex;
    gap:10px; /* 사진 간격 조정 */
    padding-bottom:5px; margin-top:30px;
}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .user_review_photo li {
    width:100px; /* 사진 크기 */
    height:100px;
    border-radius:5px; /* 살짝 둥근 테두리 */
    overflow:hidden;
}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .user_review_photo li a {
    display:inline-block; 
}
main .page_wrap .review_container .entire_review_box .content > li .user_telling .user_review_photo li a img {
    height:100%;
}
main .page_wrap .review_container .entire_review_box .content > li .user_info {width:calc(100% - 720px); padding-left:30px; display:flex; flex-flow:column wrap; justify-content:space-between;}
main .page_wrap .review_container .entire_review_box .content > li .user_info .info_top {font-size:0.875rem; line-height:1.3; letter-spacing:-0.02em;}
main .page_wrap .review_container .entire_review_box .content > li .user_info .info_top span {font-weight:500;}
main .page_wrap .review_container .entire_review_box .content > li .user_info .date_up {}
main .page_wrap .review_container .entire_review_box .content > li .user_info .date_up .date {float:left; position:relative; top:6px;}
main .page_wrap .review_container .entire_review_box .content > li .user_info .date_up button {float:right; padding:3px 16px; border:1px solid #555; border-radius:50px;}
main .page_wrap .review_container .entire_review_box .content > li .user_info .date_up .date,
main .page_wrap .review_container .entire_review_box .content > li .user_info .date_up button {font-size:0.875rem; line-height:1.3; letter-spacing:-0.02em; color:#555;}
main .page_wrap .review_container .entire_review_box .content > li .user_info .date_up button img {margin-right:7px; position:relative; top:2px;}
main .page_wrap .review_container .entire_review_box .pagenation .pagenation_box {margin-bottom:70px;}
main .page_wrap .review_container .entire_review_box .pagenation .pagenation_box button {}
main .page_wrap .review_container .entire_review_box .pagenation .pagenation_box button img {}
main .page_wrap .review_container .entire_review_box .pagenation .pagenation_box .page_first {}
main .page_wrap .review_container .entire_review_box .pagenation .pagenation_box .page_prev {}
main .page_wrap .review_container .entire_review_box .pagenation .pagenation_box .page_next {}
main .page_wrap .review_container .entire_review_box .pagenation .pagenation_box .page_last {}
main .page_wrap .review_container .entire_review_box .pagenation .pagenation_box a {}
main .page_wrap .review_container .entire_review_box .pagenation .pagenation_box .active {}
/* ==================================================구매안내 */
main .page_wrap .buy_container {max-width:1100px;} 
main .page_wrap .buy_container .page_title {border-bottom:none;} 
main .page_wrap .buy_container .page_title .title_main {} 
main .page_wrap .buy_container .img_wrap {margin-bottom:70px;} 
main .page_wrap .buy_container .img_wrap img {} 
/* ==================================================Qna */
main .page_wrap .qna_container {max-width:1100px; padding-bottom:80px;}
main .page_wrap .qna_container .page_title {margin-bottom:0;}
main .page_wrap .qna_container .page_title .title_main {position:relative; top:14px;}
main .page_wrap .qna_container .page_title .title_main em {}
main .page_wrap .qna_container .page_title .qna_btn {
    font-size:0.875rem; line-height:1.3; letter-spacing:-0.02em; font-weight:300;
    padding:8px 17px; border-radius:5px; background:#232323; color:#fff;
}
main .page_wrap .qna_container .qna_box {margin-bottom:50px;}
main .page_wrap .qna_container .qna_box li {/* qna1~7 공통선택자 */
    padding:20px 15px; border-bottom:1px solid #ccc; overflow:hidden;
}
main .page_wrap .qna_container .qna_box li * {display:inline-block;}
main .page_wrap .qna_container .qna_box li .state_rock_title {float:left;}
main .page_wrap .qna_container .qna_box li .state_rock_title > p {font-size:0.93rem; letter-spacing:-0.02em;}
main .page_wrap .qna_container .qna_box li .state_rock_title .state {color:#555;}
main .page_wrap .qna_container .qna_box li .state_rock_title .complet {color:#b97e21}
main .page_wrap .qna_container .qna_box li .state_rock_title .rock_title {margin-left:35px;}
main .page_wrap .qna_container .qna_box li .state_rock_title .rock_title .rock {}
main .page_wrap .qna_container .qna_box li .state_rock_title .rock_title .rock img {position:relative; top:3px;}
main .page_wrap .qna_container .qna_box li .state_rock_title .rock_title .title {font-size:0.93rem; letter-spacing:-0.02em;}
main .page_wrap .qna_container .qna_box li .id_date {float:right;}
main .page_wrap .qna_container .qna_box li .id_date > * {color:#555; font-size:0.875rem; line-height:1.3; letter-spacing:-0.02em;}
main .page_wrap .qna_container .qna_box li .id_date .user_id {}
main .page_wrap .qna_container .qna_box li .id_date .date {margin-left:60px;}
main .page_wrap .qna_container .pagenation {}
main .page_wrap .qna_container .pagenation .pagenation_box {}
main .page_wrap .qna_container .pagenation .pagenation_box button {}
main .page_wrap .qna_container .pagenation .pagenation_box .page_first {}
main .page_wrap .qna_container .pagenation .pagenation_box .page_prev {}
main .page_wrap .qna_container .pagenation .pagenation_box .page_next {}
main .page_wrap .qna_container .pagenation .pagenation_box .page_last {}
main .page_wrap .qna_container .pagenation .pagenation_box a {}
main .page_wrap .qna_container .pagenation .pagenation_box .active {}